body {
  font-family: Tahoma, Verdana, sans-serif;
  color: tomato;
}

.item1 { grid-area: middleright; }

.item2 { grid-area: left; }

.item3 { grid-area: topright; }

.item4 { grid-area: bottomright; }

.item5 {
  grid-area: header;
  font-size: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 30px;
  text-shadow: 1px 1px 70px gold;
}

.item6 {
  grid-area: refresh;
  padding: 20px 24px;
  background-color: gold;
  border: none;
  font-family: inherit;
  font-size: 15px;
  color: rebeccapurple;
  font-weight: bold;
  box-shadow: 0px 0px 10px 3px rebeccapurple;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'left refresh'
    'left topright'
    'left middleright'
    'left bottomright';
  gap: 30px;
  background-color: darkmagenta;
  margin:30px

}

.grid-container > div {
  background-color: rebeccapurple;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 20px;
  box-shadow: 0px 0px 10px 3px rebeccapurple;
}

.labels {
  color: gold;
  margin-bottom: 0px;
}

.editbutton {
  padding: 5px 24px;
  background-color: gold;
  border: none;
  font-family: inherit;
  font-size: 15px;
  color: rebeccapurple;
  font-weight: bold ;
  box-shadow: 0px 0px 5px 1px gold;
}

.editbutton:hover {
  background-color: tomato;
  box-shadow: 0px 0px 5px 1px tomato;
}

button:hover {
  background-color: tomato;
  box-shadow: 0px 0px 5px 1px tomato;
}

input[type=text] {
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  font-family: inherit;
  font-size: 15px;
  color: rebeccapurple;
}

.radio {
  height: 17px;
  width: 17px;
  accent-color: rebeccapurple;
}

hr {
  border: 2px solid gold;
  margin-right: 60px;
}